/* styles/style.css */
:root{
    --darkest: #111111;
    --darker: #333333;
    --kindadark: #555555;
    --dark: #777777;
    --neutral: #999999;
    --clear: #bbbbbb;
    --clearer: #dddddd;
    --clearest: #ffffff;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--darker);
}

header {
    background-color: var(--darkest);
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    padding: 20px;
}

footer {
    background-color: var(--kindadark);
    color: var(--clearest);
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.accordion-button {
    color: var(--clearer);
    background-color: var(--dark);
}

.accordion-button:not(.collapsed) {
    color: var(--clearest);
    background-color: var(--neutral);
}

.accordion-body {
    color: var(--clearer);
    background-color: var(--darker);
}

.project-bg{
    background-color: var(--darkest);
}

.list-group-item{
    background-color: var(--kindadark);
}
.item-content {
    display: flex;
    align-items: center;
}

.item-image {
    width: 33.33%; /* Take 1/3 of the horizontal space */
    margin-right: 10px; /* Add some margin between image and text */
}

.item-text {
    width: 66.66%; /* Take 2/3 of the horizontal space */
}